<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <appSettings>
    <add key="sleep" value="200000" />
    <add key="message1" value="🤔 shouldn't you like look at some pull requests by now ?" />
    <add key="message2" value="🍻 you've been working for long time now... maybe it is a good moment to grab a beer" />
    <add key="message3" value="👨‍💻 I sense a disturbance in the code" />
    <add key="message4" value="😅 Are you sure you didn't forgot any try catch here ?" />
    <add key="message5" value="😮 it's working!.... but why? " />
    <add key="message6" value="🙄 you better not commit this code" />
    <add key="message7" value="😋 scrolling through memes will not finish this task" />
    <add key="message8" value="☕ coffee time" />
    <add key="message9" value="🧐 fun fact - C++ was originally created in the early 1980" />
    <add key="message10" value="🐱 Miau" />
  </appSettings>
</configuration>